.containerisi{
    display: flex;
    flex: 1;
}

.card{
    flex: 1;
    text-align: c;
}

.circle{
    background-color: blanchedalmond;
    height: auto;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.dalamcircle{
    display: flex;
    margin: auto;
}
